.toolbar.primary {
    background-color: black;
    /* Establece el fondo del toolbar en negro */
}

.white {
    color: white;
    text-decoration: none;
    font-size: 1em;
}
.toolbar {
    font-size: 1rem; /* Tamaño de fuente base */
}
.toolbar-item {
    font-size: 0.9rem; /* Tamaño de fuente relativo para los elementos del toolbar */
}
.toolbar-link {
    margin-right: 20px;

    /* Ajusta la cantidad de espacio entre los enlaces según tus necesidades */
}

.inicio {
    background-repeat: no-repeat;
    background-size: cover;
    /* Cubre todo el elemento, manteniendo la relación de aspecto */
    background-attachment: fixed;
}

.container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Ocupa toda la altura de la ventana */
    background-image: url("https://images.pexels.com/photos/1570806/pexels-photo-1570806.jpeg"); /* https://images.pexels.com/photos/2061820/pexels-photo-2061820.jpeg */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


h1 {
    color: white;
    /* Establece el color del texto */
    text-align: center;
    /* Centra el texto horizontalmente */
}

.word-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Ocupa toda la altura de la ventana */
}

.word {
    font-size: 4em;
    /* Tamaño grande de la palabra */
    opacity: 0;
    animation: fadeInOut 3s infinite;
    color: white;
    /* Animación de desvanecimiento */
}
@media screen and (max-width: 768px) {
    .word {
        font-size: 2em; /* Reducir el tamaño de fuente para pantallas más pequeñas */
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    80%{
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}
.responsive-image {
    width: 10vh; /* Tamaño de la imagen en pantallas grandes (10% del alto del viewport) */
  
    /* Media query para pantallas pequeñas */

}

@media screen and (max-width: 768px) {
    .toolbar {
        font-size: 0.9rem;
    }
    .toolbar-item {
        margin-right: 10px; /* Ajusta el margen entre los elementos para pantallas medianas */
    }
    .responsive-image {
        width: 20vh;
    }
}

/* Media query para pantallas pequeñas */
@media screen and (max-width: 480px) {
    .toolbar {
        font-size: 0.8rem;
    }
    .toolbar-item {
        margin-right: 5px; /* Ajusta el margen entre los elementos para pantallas pequeñas */
    }
    .responsive-image {
        width: 30vh;
    }
}


.black {
    color: black;
    text-decoration: none;
    font-size: 1em;
}